{% load static %}

<!DOCTYPE html>

<html>
<head>
	<title>Simple Checkout</title>
	<meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <link rel="stylesheet" href="{% static 'card/cart.css' %}">
</head>
<body>
    
<main>
    <h1>Checkout</h1>
    <p>Select one of these payment methods</p>
    
        <div id="paypal-button-container"></div>

      <script src="https://www.paypal.com/sdk/js?client-id=ASD8XuSLyRE518aRQOBXXE084DUM01NNBRDNl6UPYMeUBaFuNWSweg6cbvu1Rxk2Gx8gOIAgSSNRdlYy&currency=USD&disable-funding=credit"></script>

      <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

             style: {
                color:  'blue',
                shape:  'pill',
                label:  'pay',
                height: 40
            },

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: {{total}}
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                    window.location.href= "{% url 'dashboard'%}"
                });
            }


        }).render('#paypal-button-container');
    </script>
    
    <p>Or enter your credit card information</p>
    <form class="ccjs-card">
      <div class="row">
        <fieldset class="number">
          <label class="ccjs-number">Card Number
            <input class="ccjs-number" name="cc-number" placeholder="•••• •••• •••• ••••"/>
          </label>
        </fieldset>
        <fieldset class="security">
          <label class="ccjs-csc">Security Code
            <input class="ccjs-csc" name="csc" placeholder="•••"/>
          </label>
        </fieldset>
      </div>
      <div class="row">
        <fieldset class="name">
          <label class="ccjs-name">Cardholder's Name
            <input class="ccjs-name" name="cc-name" placeholder="John Dough"/>
          </label>
        </fieldset>
        <fieldset class="ccjs-expiration">
          <legend class="expiration">Expiration</legend>
          <div class="row">
            <select class="ccjs-month" name="month">
              <option selected="" disabled="">MM</option>
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
            <select class="ccjs-year" name="year">
              <option selected="" disabled="">YY</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
            </select>
          </div>
        </fieldset>
      </div>
      <select class="ccjs-hidden-card-type" name="card-type">
        <option class="ccjs-amex" value="amex">American Express</option>
        <option class="ccjs-discover" value="discover">Discover</option>
        <option class="ccjs-mastercard" value="mastercard">MasterCard</option>
        <option class="ccjs-visa" value="visa">Visa</option>
        <option class="ccjs-diners-club" value="diners-club">Diners Club</option>
        <option class="ccjs-jcb" value="jcb">JCB</option>
      </select>
    </form>
    <button class="btn btn-primary" type="button">Checkout</button>
  </main>
    <!--

     <div id="paypal-button-container"></div>

      <script src="https://www.paypal.com/sdk/js?client-id=ASD8XuSLyRE518aRQOBXXE084DUM01NNBRDNl6UPYMeUBaFuNWSweg6cbvu1Rxk2Gx8gOIAgSSNRdlYy&currency=USD&disable-funding=credit"></script>

      <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

             style: {
                color:  'blue',
                shape:  'pill',
                label:  'pay',
                height: 40
            },

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: {{total}}
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                    window.location.href= "{% url 'dashboard'%}"
                });
            }


        }).render('#paypal-button-container');
    </script>-->
    <script src="{% static 'card/cart.js' %}"></script>
    
</body>
</html>