<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>



    <link rel="stylesheet" href="{% static 'assets/css/bootstrap/bootstrap-landing.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/features.css' %}">
    <title>features</title>
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/landing_final"><img class="brandLogo" src="{% static 'assets/images/logo.png' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon p-0"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav" style="z-index: +9999;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/landing_final">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Free Demo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/features">Features</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">More</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Testimonials</a>
                        <a href="/about" class="dropdown-item">About e-Pathshala</a>
                        <a href="/contactus" class="dropdown-item">Contact-Us</a>
                        <a href="#" class="dropdown-item">ConnectEd</a>
                        <a href="#" class="dropdown-item">Blogs</a>
                        <a href="#" class="dropdown-item">Latest In ED</a>
                        <a href="#" class="dropdown-item">Counselling</a>
                        <a href="/faq_page" class="dropdown-item">Faq's</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Refer and Earn</a>
                </li>
                <li class="nav-item my-auto">
                    <a class="signup" href="/login"> <span><h5 class="my-auto">Login</h5></span></a>
                </li>
                <br>
            </ul>
        </div>
    </nav>
    <div class="container">
        <!-- 1st row -->
        <div class="row ">
            <div class="col-12 col-md-6  order-md-first align-self-center">
                <h1 id="heading">One to One Mentorship</h1>
                <p id="text">Provides students with an opportunity to study with the best mentors as well as gain
                    insight on their performance.
                    A study shows that 71.58% of students opt for home tutors which proves the likeliness of
                    students towards private mentors.</p>
                <hr class="d-none d-md-block ">
                <ul class="d-none d-md-block ">
                    <li>Personalized attention from a faculty of Tier 1 Institute of India.</li>
                    <li>Year long course with Olympiads every month to track students performance on an all India level.
                    </li>
                    <li>AI based feedback to improve on weaker concepts.</li>
                    <li> 24*7 doubt clearing facility.</li>
                </ul>
            </div>
            <div class="col-12 col-md-6 align-self-center order-md-last ">
                <img src="{% static 'public/images/onetoonementorship.png' %}" alt="">
            </div>
        </div>
        <!-- 2nd row -->
        <div class="row" id="alternate">
            <div class="col-12 col-md-6 align-self-center ">
                <img src="{% static 'public/images/features.png' %}" alt="">
            </div>
            <div class="col-12 col-md-6 align-self-center">
                <h1 id="heading">Accessibilty and Flexibility</h1>
                <p id="text">This platform makes tuition flexible and accessible where students can study and have a
                    tutor staying at their home and as per their convenience</p>
                <hr class="d-none d-md-block ">
                <ul class="d-none d-md-block">
                    <li>This is a personalised approach for students where a qualified teacher would be there for the
                        student to constantly push and give daily targets which will act as a motivation for them which
                        students usually lack
                    </li>
                    <li>For both students and teachers, it is very easy to register themselves on our platform
                    </li>
                    <li>During pandemic like these, parents would want their child to study at home as much as possible,
                        this is the perfect platform for that where they can choose a teacher as per his/her
                        qualification</li>
                </ul>
            </div>
        </div>
        <!-- 3rd row -->
        <div class="row">
            <div class="col-12 col-md-6 order-md-first">

            </div>
            <div class="col-12 col-md-6">

            </div>
        </div>
        <!-- 4th row -->
        <div class="row" id="alternate">
            <div class="col-12 col-md-6">

            </div>
            <div class="col-12 col-md-6">

            </div>
        </div>
    </div>


    <!--Testonomial-->
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-bg">
                    <div id="testimonial-slider" class="owl-carousel">
                        <div class="testimonial">
                            <p class="description">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the
                            </p>
                            <div class="pic">
                                <img src="http://www.webcoderskull.com/img/team2.png" alt="">
                            </div>
                            <h3 class="title">Aanish,</h3>
                            <span class="post">Web Developer</span>
                        </div>

                        <div class="testimonial">
                            <p class="description">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the
                            </p>
                            <div class="pic">
                                <img src="http://www.webcoderskull.com/img/team2.png" alt="">
                            </div>
                            <h3 class="title">Aanish,</h3>
                            <span class="post">Web Developer</span>
                        </div>

                        <div class="testimonial">
                            <p class="description">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since theLorem Ipsum is simply dummy
                                text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the
                            </p>
                            <div class="pic">
                                <img src="http://www.webcoderskull.com/img/team1.png" alt="">
                            </div>
                            <h3 class="title">Kundana,</h3>
                            <span class="post">Front End Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <script>
        $(document).ready(function () {
            $("#testimonial-slider").owlCarousel({
                items: 1,
                itemsDesktop: [1000, 1],
                itemsDesktopSmall: [979, 1],
                itemsTablet: [768, 1],
                pagination: false,
                navigation: true,
                navigationText: ["", ""],
                autoPlay: true
            });
        });
    </script>

</body>

</html>