.navbar, .navbar-nav{
    margin: 0px 30px 0px 0px;
    background-color: #FFF;
}
.nav-item{
    margin: 10px;
}
.brandLogo{
    margin-left: 5% !important;
    height: 70px;
}
nav {
    height: 114px;
    width: 100% !important;
}
.nav-link{
    width: fit-content;
    font-weight: 500;
    background: linear-gradient(90deg, rgb(7, 110, 170) 18%, rgba(245,62,106,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (min-width: 1280px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}
.login{
    width: 150px !important;
    height: 50px;
    border-radius: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    position: relative;
    cursor: pointer;
    border: 0px;
    background: linear-gradient(240deg, rgb(7, 110, 170) 18%, rgba(245,62,106,1) 100%);
}
.login :hover{
    color: #FFF;
    text-decoration: none !important;
}
.login span{
    color: rgba(245,62,106,1);
    align-items: center;
    background: #ffffff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    height: 45px;
    transition: background .5s ease;
    width: 145px;
    text-decoration: none !important;
}
.login:hover span {
    background: transparent;
    text-decoration: none !important;
}
.signup{
    width: 150px !important;
    height: 50px;
    border-radius: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    position: relative;
    cursor: pointer;
    border: 0px;
    background: linear-gradient(240deg, rgb(7, 110, 170) 18%, rgba(245,62,106,1) 100%);
    color: #e1e1e1;
}
.signup:hover{
    color: #ffffff;
}

#alternate{
    background: #e8ecf8;
}
.row{
    padding: 20px;
    margin:10px auto;
    min-height: 500px;
}
#heading{
    font-style: normal;
    font-weight: 750;
    font-size: 40px;
    background: linear-gradient(217.52deg, rgba(21, 158, 216, 0.42) 2.05%, #F53E6A 95.8%);
    background-clip: text;
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
}
#text{
    color: #015AAD;
}

.testimonial-bg{
   background-color:#fff;
    border: 5px solid #ee0979;
     font-family: 'Raleway', sans-serif;
    padding: 35px 70px;
    text-align: center;
    position: relative;
}
.testimonial-bg:before{
    content: "\f10d";
    font-family: "fontawesome";
    width: 75px;
    height: 75px;
  border: 5px solid #ee0979;
    line-height: 75px;
    background: #fff;
    text-align: center;
    font-size: 50px;
    color: #3c414c;
    position: absolute;
    top: -40px;
    left: 2%;
}
.testimonial{
    padding: 0 15px;
}
.testimonial .description{
    font-size: 20px;
    font-weight:400;
    font-style: italic;
    color: #848484;
    line-height: 30px;
    padding-bottom: 25px;
    margin-bottom: 15px;
    position: relative;
}
.testimonial .description:before{
    content: "";
    width: 75%;
    border-top: 1px solid #ee0979;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.testimonial .description:after{
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    bottom: -10px;
    left: 50%;
    border-bottom: 1px solid #ee0979;
    border-right: 1px solid #ee0979;
    transform: translateX(-50%) rotate(45deg);
}
.testimonial .pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 25px auto;
    overflow: hidden;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .title{
  font-family: 'Raleway', sans-serif;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    color: #ee0979;
    text-transform: capitalize;
    margin: 0;
}
.testimonial .post{
  font-family: 'Raleway', sans-serif;
    display: inline-block;
    font-size: 20px;
    color: #848484;
}
.owl-theme .owl-controls{
    margin-top: 10px;
    position: absolute;
    bottom: -20%;
    right: 0;
}
.owl-theme .owl-controls .owl-buttons div{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #34363b;
    opacity: 1;
    padding: 0;
   display:inline-block;
   margin:0 10px; 
}
.owl-prev:before,
.owl-next:before{
    content: "\f104";
    font-family: "fontawesome";
    font-size: 23px;
    font-weight: 700;
    color: #fff;
}
.owl-next:before{
    content:"\f105";
}
@media only screen and (max-width:767px){
    .testimonial-bg{ padding: 50px 40px; }
    .owl-theme .owl-controls{ bottom: -22%; }
}
@media only screen and (max-width:480px){
    .testimonial-bg:before{
        width: 55px;
        height: 55px;
        line-height: 55px;
        font-size: 40px;
    }
    .testimonial-bg{ padding: 30px 10px; }
    .owl-theme .owl-controls{ bottom: -15%; }
}
@media only screen and (max-width:360px){
    .testimonial .title,
    .testimonial .post{
        font-size: 16px;
    }
    .owl-theme .owl-controls{ bottom: -12%; }
}
